AutoProbePlacement/data-files/Scenes
AutoProbePlacement/x64
AutoProbePlacement/AutoProbePlacement/x64
AutoProbePlacement/AutoProbePlacement/Debug
AutoProbePlacement/AutoProbePlacement/Debug/AutoProb.C9725276.tlog/AutoProbePlacement.lastbuildstate
AutoProbePlacement/AutoProbePlacement/Debug/AutoProb.C9725276.tlog/CL.command.1.tlog
AutoProbePlacement/AutoProbePlacement/Debug/AutoProb.C9725276.tlog/CL.read.1.tlog
AutoProbePlacement/AutoProbePlacement/Debug/AutoProb.C9725276.tlog/CL.write.1.tlog
AutoProbePlacement/AutoProbePlacement/Debug/AutoProb.C9725276.tlog/link-cvtres.read.1.tlog
AutoProbePlacement/AutoProbePlacement/Debug/AutoProb.C9725276.tlog/link-cvtres.write.1.tlog
AutoProbePlacement/AutoProbePlacement/Debug/AutoProb.C9725276.tlog/link-rc.read.1.tlog
AutoProbePlacement/AutoProbePlacement/Debug/AutoProb.C9725276.tlog/link-rc.write.1.tlog
AutoProbePlacement/AutoProbePlacement/Debug/AutoProb.C9725276.tlog/link.command.1.tlog
AutoProbePlacement/AutoProbePlacement/Debug/AutoProb.C9725276.tlog/link.write.1.tlog
AutoProbePlacement/AutoProbePlacement.VC.VC.opendb
AutoProbePlacement/AutoProbePlacement.VC.db
AutoProbePlacement/data-files/scripts/textures/
*.serialized
AutoProbePlacement/data-files/scripts/textures*
AutoProbePlacement/AutoProbePlacement/cubemap/blackness/copyright.txt
AutoProbePlacement/AutoProbePlacement/cubemap/blackness/museum_+x.jpg
AutoProbePlacement/AutoProbePlacement/cubemap/blackness/museum_+y.jpg
AutoProbePlacement/AutoProbePlacement/cubemap/blackness/museum_+z.jpg
AutoProbePlacement/AutoProbePlacement/cubemap/blackness/museum_-x.jpg
AutoProbePlacement/AutoProbePlacement/cubemap/blackness/museum_-y.jpg
AutoProbePlacement/AutoProbePlacement/cubemap/blackness/museum_-z.jpg
AutoProbePlacement/data-files/objs/Nintendo 64 - Super Mario 64 - Mario/Buttons.png
AutoProbePlacement/data-files/objs/Nintendo 64 - Super Mario 64 - Mario/Eyes.png
AutoProbePlacement/data-files/objs/Nintendo 64 - Super Mario 64 - Mario/Hair_Piece.png
AutoProbePlacement/data-files/objs/Nintendo 64 - Super Mario 64 - Mario/Information.txt
AutoProbePlacement/data-files/objs/Nintendo 64 - Super Mario 64 - Mario/Logo.png
AutoProbePlacement/data-files/objs/Nintendo 64 - Super Mario 64 - Mario/Moustache.png
AutoProbePlacement/data-files/objs/Nintendo 64 - Super Mario 64 - Mario/Super Mario 64 - Mario.mtl
AutoProbePlacement/data-files/objs/Nintendo 64 - Super Mario 64 - Mario/Textures/ButtonsA.png
AutoProbePlacement/data-files/objs/Nintendo 64 - Super Mario 64 - Mario/Textures/ButtonsD.png
AutoProbePlacement/data-files/objs/Nintendo 64 - Super Mario 64 - Mario/Textures/Chart Reference.txt
AutoProbePlacement/data-files/objs/Nintendo 64 - Super Mario 64 - Mario/Textures/Colour Chart.PNG
AutoProbePlacement/data-files/objs/Nintendo 64 - Super Mario 64 - Mario/Textures/Dead_EyesA.png
AutoProbePlacement/data-files/objs/Nintendo 64 - Super Mario 64 - Mario/Textures/Dead_EyesD.png
AutoProbePlacement/data-files/objs/Nintendo 64 - Super Mario 64 - Mario/Textures/EyesA.png
AutoProbePlacement/data-files/objs/Nintendo 64 - Super Mario 64 - Mario/Textures/EyesD.png
AutoProbePlacement/data-files/objs/Nintendo 64 - Super Mario 64 - Mario/Textures/Eyes_ClosedA.png
AutoProbePlacement/data-files/objs/Nintendo 64 - Super Mario 64 - Mario/Textures/Eyes_ClosedD.png
AutoProbePlacement/data-files/objs/Nintendo 64 - Super Mario 64 - Mario/Textures/Eyes_DownD.png
AutoProbePlacement/data-files/objs/Nintendo 64 - Super Mario 64 - Mario/Textures/Eyes_HalfA.png
AutoProbePlacement/data-files/objs/Nintendo 64 - Super Mario 64 - Mario/Textures/Eyes_HalfD.png
AutoProbePlacement/data-files/objs/Nintendo 64 - Super Mario 64 - Mario/Textures/Eyes_LeftD.png
AutoProbePlacement/data-files/objs/Nintendo 64 - Super Mario 64 - Mario/Textures/Eyes_RightD.png
AutoProbePlacement/data-files/objs/Nintendo 64 - Super Mario 64 - Mario/Textures/Eyes_UpD.png
AutoProbePlacement/data-files/objs/Nintendo 64 - Super Mario 64 - Mario/Textures/Hair PieceA.png
AutoProbePlacement/data-files/objs/Nintendo 64 - Super Mario 64 - Mario/Textures/Hair_PieceD.png
AutoProbePlacement/data-files/objs/Nintendo 64 - Super Mario 64 - Mario/Textures/LogoA.png
AutoProbePlacement/data-files/objs/Nintendo 64 - Super Mario 64 - Mario/Textures/LogoD.png
AutoProbePlacement/data-files/objs/Nintendo 64 - Super Mario 64 - Mario/Textures/MetalO.png
AutoProbePlacement/data-files/objs/Nintendo 64 - Super Mario 64 - Mario/Textures/Metal_Wing_1A.png
AutoProbePlacement/data-files/objs/Nintendo 64 - Super Mario 64 - Mario/Textures/Metal_Wing_1D.png
AutoProbePlacement/data-files/objs/Nintendo 64 - Super Mario 64 - Mario/Textures/Metal_Wing_2A.png
AutoProbePlacement/data-files/objs/Nintendo 64 - Super Mario 64 - Mario/Textures/Metal_Wing_2D.png
AutoProbePlacement/data-files/objs/Nintendo 64 - Super Mario 64 - Mario/Textures/MoustacheA.png
AutoProbePlacement/data-files/objs/Nintendo 64 - Super Mario 64 - Mario/Textures/MoustacheD.png
AutoProbePlacement/data-files/objs/Nintendo 64 - Super Mario 64 - Mario/Textures/Wing_1A.png
AutoProbePlacement/data-files/objs/Nintendo 64 - Super Mario 64 - Mario/Textures/Wing_1D.png
AutoProbePlacement/data-files/objs/Nintendo 64 - Super Mario 64 - Mario/Textures/Wing_2A.png
AutoProbePlacement/data-files/objs/Nintendo 64 - Super Mario 64 - Mario/Textures/Wing_2D.png

